<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.signapp.mapper.LoginMapper">
	<select id="checkId" parameterType="String" resultType="int" >
		SELECT COUNT(*) FROM employee WHERE id = #{id};
	
	</select>
	
	<insert id="insertId" parameterType="com.example.signapp.dto.Employee">
		INSERT INTO employee (id,password,name,level) VALUES (#{id},#{password},#{name},#{level});
	</insert>
	
	<select id="loginInformation" parameterType="com.example.signapp.dto.Employee" resultType="com.example.signapp.dto.Employee">
		SELECT id, name, level  FROM employee  where id  = #{id}  and password = #{password}; 
	</select>
	
	
</mapper>